h1 {
  font-family: sans-serif;
}

div.tower {
  float: left;
  border: 5px solid black;
  margin: 20px;
  padding: 20px;
  height: 150px;
  position: relative;
  width: 220px;
}

div.tower:hover {
  background-color: #fff770;
}

div.tower.selected {
  background-color: #a9ff70;
}

div.disk {
  margin: auto;
  height: 50px;
}

div.disk.fake {
  background-color: transparent;
}

div.disk-1 {
  width: 50px;
  background-color: #c8c8c8;
}

div.disk-2 {
  width: 120px;
  background-color: #585858;
}

div.disk-3 {
  width: 220px;
  background-color: #000;
}
